<div style="margin-top:10px;">
    <img src="/img/banner3.jpg" alt="banner" height="400px" width="100%" />
</div>
<div class="md-padding" layout="row" layout-xs="column" ng-controller="gameHomeCtrl as gameCtrl">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Learner's Quiz</span>
                    <span class="md-subhead">The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                        </span>
                </md-card-title-text>
                <md-card-title-media>

                    <img src="img/quizImg.jpg" class="md-media-lg card-media">

                </md-card-title-media>
            </md-card-title>

            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised" ng-click="gameCtrl.quiz()"> Play</md-button>

            </md-card-actions>


        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Simulator</span>
                    <span class="md-subhead">The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                            </span>
                </md-card-title-text>
                <md-card-title-media>

                    <img src="img/simulator.jpg" class="md-media-lg card-media">

                </md-card-title-media>
            </md-card-title>

            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised " ng-click="gameCtrl.simulator()"> Play</md-button>

            </md-card-actions>


        </md-card>
    </div>
</div>