<div style="margin-top:10px;">
    <img src="/img/banner1.jpg" alt="banner" height="30%" width="100%" />
</div>
<div class="md-padding" layout="row" layout-xs="coloumn">
    <div flex-gt-xs="75" layout="coloumn">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <img src="/img/bimg.png">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-headline"> Learning The Traffic Rules</span>

                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    This Website represents the project developed to create a new way of learning the traffic rules. The idea of the project came from the Ministry of transportations Hackathon projects. The website contains an interactive simulation along with a quiz to
                    learn basic traffic rules laid down to facilitate the traffic on the roads. The Development of this website is done by using Angular JS in combination with a Unity based simulation which provide a fun way to learn the traffic rules.
                </p>
                <p>
                    The website can be used by anyone without any prior training in the specific simulation. The simulation is provided with a fair amount of instructions along with it.
                </p>
            </md-card-content>
            <md-card-actions layout="coloumn" layout-align="center">
                <md-button class="md-fab" aria-label="download" style="background-color:rgb(3, 184, 3)">
                    <a href='https://firebasestorage.googleapis.com/v0/b/testapp-1f3d4.appspot.com/o/India-Road-Traffic-Signs.pdf?alt=media&token=d7b9758c-33d1-4f94-8664-8294b3524d14' target="blank">
                        <md-icon md-svg-src="/icons/downbutton.svg"></md-icon>
                    </a>
                </md-button>

            </md-card-actions>
        </md-card>
    </div>
    <div flex-gt-xs="25" layout="coloumn">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <img src="/img/bimg.png">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-headline">About the Project </span>
                    <span class="md-title">Few words from Developers</span>
                </md-card-header-text>
            </md-card-header>
            <img src="/img/bimg1.jpg" class="md-card-image">
            <md-card-content>
                <p>
                    This Website represents the project developed to create a new way of learning the traffic rules. The idea of the project came from the Ministry of transportations Hackathon projects. The website contains an interactive simulation along with a quiz to
                    learn basic traffic rules laid down to facilitate the traffic on the roads. The Development of this website is done by using Angular JS in combination with a Unity based simulation which provide a fun way to learn the traffic rules.
                </p>

            </md-card-content>
        </md-card>
    </div>
</div>